* {
    margin: 0;
    padding: 0;
}

#navigation {
    height: 100%;
    display: flex;
    position: fixed;
}

#hamburger {
    width: 51px;
    height: 51px;
    margin: 16px;
    position: absolute;
    cursor: pointer;
    z-index: 2;
}

.bar {
    width: 100%;
    height: 10px;
    margin-top: 7px;
    background-color: black;
}

#nav-menu {
    background-color: rgb(0, 0, 0, 0.8);
    border-right: 10px solid rgb(54, 54, 54);
    width: 340px;
    height: 100%;
}

ul {
    margin: 30% 0 0 20%;
    justify-content: center;
    align-items: center;
}

li {
    line-height: 42px;
    font-size: 36px;
    list-style: none;
    color: white;
}

a, a:active, a:visited {
    color: white;
    text-decoration: none;
    transition: color 0.5s;
}

a:hover {
    color: dodgerblue;
}


